<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Погода</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default" style="background-color: lightblue">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Погода</a>
            Вы зашли как <label th:text="${userName}"></label>
            <a href="logout"><button type="submit" class="btn btn-default">Выйти</button></a>
        </div>
    </div>
</nav>

<div class="container">
    <h3>Найденные города:</h3>
    <form action="location" method="post">
        <div class="mb-3">
            <input type="text" name="location" class="form-email" id="location">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
    <label style="color: red" th:text="${error}"></label>
    <div th:each="city : ${citiesResponse}">
        <div class="col-sm-4 border border-primary">
            <form action="savelocation" method="post">
                <p>
                    <label>Город: </label>
                    <label th:text="${city.getName()}"></label>
                    <br>
                    <label>Координаты: </label>
                    <br>
                    <label>Longitude: </label>
                    <label th:text="${city.getLon()}"></label>
                    <br>
                    <label>Latitude: </label>
                    <label th:text="${city.getLat()}"></label>
                    <br>
                    <label>Страна: </label>
                    <label th:text="${city.getCountry()}"></label>
                    <br>
                    <label>Область: </label>
                    <label th:text="${city.getState()}"></label>
                </p>

                <div class="mb-3">
                    <input type="text" id="city" name="cityName" class="form-email border-0"
                           th:value="${city.getName()}" hidden>
                    <input type="text" id="lon" name="lon" class="form-email border-0"
                           th:value="${city.getLon()}" hidden>
                    <input type="text" id="lat" name="lat" class="form-email border-0"
                           th:value="${city.getLat()}" hidden>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>